.save-reset-buttons {
  margin-top: 10px;
}

.save-button:hover,
.reset-button:hover {
  transform: scale(0.92);
}

.save-message,
.not-message,
.already-saved-message {
  height: 20px;
  visibility: hidden;
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* animation: fadeInOut 5s ease-in-out; */
}

.save-message {
  animation: popInOut 5s ease-in-out;
}
.not-message {
  background-color: #f57913;
}
.already-saved-message {
  background-color: yellow;
  color: black;
}
.visibility {
  visibility: visible;
}

@keyframes popInOut {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  10% {
    opacity: 1;
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* @keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  10% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(0.2);
  }
} */
